<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hello Spring</title>
    <link rel="stylesheet" th:href="@{/assets/css/common.css}" />
  </head>
  <body>
    <div th:replace="~{fragments/header :: my-header}"></div>

    <h2>교수관리</h2>
    <hr />
    <form method="post" th:action="@{/professor/add_ok}">
      <table class="mytable">
        <colgroup>
          <col width="150" />
          <col />
        </colgroup>
        <tbody>

          <tr>
            <th>교수이름</th>
            <td class="text-left field">
              <input type="text" name="name" />
            </td>
          </tr>

          <tr>
            <th>교수아이디</th>
            <td class="text-left field">
              <input type="text" name="userid" />
            </td>
          </tr>

          <!-- <tr>
            <th>교수직책</th>
            <td class="text-left field">
              <input type="text" name="position" />
            </td>
          </tr> -->


          <tr>
            <th>교수직책</th>
            <td class="text-left field">
              <label>
              <input type="radio" name="position" value="교수" />
              교수
            </label>

            <label>
              <input type="radio" name="position" value="조교수" />
              조교수
            </label>

            <label>
              <input type="radio" name="position" value="조교" />
              조교
            </label>
            </td>
          </tr>

          <tr>
            <th>교수급여</th>
            <td class="text-left field">
              <input type="number" name="sal" step="1" min="0"/>
            </td>
          </tr>

          <tr>
            <th>입사날짜</th>
            <td class="text-left field">
              <input type="date" name="hiredate" />
            </td>
          </tr>

          <tr>
            <th>성과금</th>
            <td class="text-left field">
              <input type="number" name="comm" step="1" min="0" />
            </td>
          </tr>

          <tr>
            <th>소속학과</th>
            <td class="text-left field">
              <!-- <input type="text" name="deptno" /> -->
               <select name="deptno">
                <option value="">------ 소속 학과 선택 ------</option>
                <option th:each="dept : ${departments}" th:value="${dept.deptno}"
                th:text="${dept.dname}"></option>
               </select>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="button-container">
        <button type="submit" class="mybutton green">등록</button>
        <a class="mybutton red" th:href="@{/professor}">취소</a>
      </div>
    </form>
  </body>
</html>
