<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div th:replace="~{/fragments/header :: my-header}"></div>

<h2>단일 파일 업로드</h2>

<!-- 1) get 방식은 업로드 불가 
2) enctype="multipart/form-data" 는 파일 업로드시 필수 -->

<form method="post" th:action="@{/simple/upload_single_ok}" enctype="multipart/form-data">
  <div>
    <label for="subject">사진제목</label>
    <input type="text" name="subject" id="subject" />
  </div>

  <div>
    <label for="photo">사진선택</label>
    <input type="file" name="photo" id="photo" accept="image/*" />
  </div>

  <button type="submit">업로드하기</button>

</form>
  </body>
</html>
