<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header th:fragment="my-header">
    <link rel="stylesheet" th:href=@{/assets/css/header.css}>
    <h1>04-Params</h1>
    <nav class="gnb">
      <a th:href="@{/get/home}">GET 파라미터</a>
      <a th:href="@{/post/home}">POST 파라미터</a>
      <a th:href="@{/path/home}">PATH 파라미터</a>
      <a th:href="@{/survey}">설문조사</a>
    </nav>
  </header>
</body>
</html>