<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hello Spring</title>
    <link rel="stylesheet" th:href="@{/assets/css/common.css}" />
  </head>
  <body>
    <div th:replace="~{fragments/header :: my-header}"></div>

    <h2>학생관리</h2>
    <hr />
    <table class="mytable">
      <colgroup>
        <col width="150" />
        <col />
      </colgroup>
      <tbody>
      <tr>
        <th>학생학번</th>
        <td class="text-left" th:text="${student.studno}"></td>
      </tr>

      <tr>
        <th>학생이름</th>
        <td class="text-left" th:text="${student.name}"></td>
      </tr>

      <tr>
        <th>학생아이디</th>
        <td class="text-left" th:text="${student.userid}"></td>
      </tr>

      <tr>
        <th>학생학년</th>
        <td class="text-left" th:text="${student.grade}"></td>
      </tr>

      <tr>
        <th>주민번호</th>
        <td class="text-left" th:text="${student.idnum}"></td>
      </tr>

      <tr>
        <th>생일</th>
        <td class="text-left" th:text="${student.birthdate}"></td>
      </tr>

      <tr>
        <th>전화번호</th>
        <td class="text-left" th:text="${student.tel}"></td>
      </tr>

      <tr>
        <th>키</th>
        <td class="text-left" th:text="${student.height}"></td>
      </tr>

      <tr>
        <th>몸무게</th>
        <td class="text-left" th:text="${student.weight}"></td>
      </tr>

      <tr>
        <th>학과</th>
        <td class="text-left" th:text="${student.deptno}"></td>
      </tr>

      <tr>
        <th>담당교수</th>
        <td class="text-left" th:text="${student.profno}"></td>
      </tr>
      
      </tbody>
    </table>

    <div class="button-container">
      <a class="mybutton green" th:href="@{/student}">목록보기</a>
    </div>
  </body>
</html>
