<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hello Spring</title>
    <link rel="stylesheet" th:href="@{/assets/css/common.css}" />
  </head>
  <body>
    <div th:replace="~{fragments/header :: my-header}"></div>

    <h2>학생관리</h2>
    <hr />
    <div class="button-container search-field">
      <form method="get" th:action="@{/student}">
        <input
          type="search"
          name="keyword"
          placeholder="학생이름 or 학생 아이디"
          th:value="${keyword}"
        />
        <button type="submit" class="mybutton gray">검색</button>
      </form>
      <a class="mybutton blue" th:href="@{/student/add}">새 학생 등록</a>
    </div>

    <table class="mytable">
      <thead>
      <tr>
        <th>학생학번</th>
        <th>학생이름</th>
        <th>학생아이디</th>
        <th>학생학년</th>
        <th>주민번호</th>
        <th>학생생일</th>
        <th>전화번호</th>
        <th>키</th>
        <th>몸무게</th>
        <th>소속학과</th>
        <th>담당교수이름</th>
        <th>-</th>
      </tr>
    </thead>
      <tbody>
        <tr th:each="student : ${students}">
          <td th:text="${student.studno}"></td>
          <td><a th:href="@{/student/detail/{studno}(studno=${student.studno})}"
              th:text="${student.name}" /></td>
          <td th:text="${student.userid}"></td>
          <td th:text="${student.grade}"></td>
          <td th:text="${student.idnum}"></td>
          <td th:text="${student.birthdate}"></td>
          <td th:text="${student.tel}"></td>
          <td th:text="${student.height}"></td>
          <td th:text="${student.weight}"></td>

          
          <!-- //학과명(조인을 통해 조합된 값) -->
          <td th:text="${student.dname}"></td>
          <!-- //교수이름 -->
          <td th:text="${student.pname}"></td>
          <td>
            <a th:href="@{/student/edit/{studno}(studno=${student.studno})}">수정</a>
            <a th:href="@{/student/delete/{studno}(studno=${student.studno})}">삭제</a>
          </td>
        </tr>
      </tbody>
    </table>


   <!-- 페이지 번호 -->
   <ul class="pagination">
    <!-- 이전페이지 그룹 이동 버튼 -->
    <li th:if="${pagination.prevPage > 0}">
      <a
        th:href="@{/student(keyword=${keyword}, page=${pagination.prevPage})}"
        >&laquo;</a
      >
    </li>
    <li th:unless="${pagination.prevPage > 0}">
      <a>&laquo;</a>
    </li>

    <!-- 페이지 번호링크 -->
    <li
      th:each="i : ${#numbers.sequence(pagination.startPage, pagination.endPage)}"
    >
      <a th:if="${i == pagination.nowPage}" class="active" th:text="${i}" />
      <a
        th:unless="${i == pagination.nowPage}"
        th:text="${i}"
        th:href="@{/student(keyword=${keyword}, page=${i})}"
      />
    </li>

    <!-- 다음 페이지 그룹 이동버튼 -->
    <li th:if="${pagination.nextPage > 0}">
      <a
        th:href="@{/student(keyword=${keyword}, page=${pagination.nextPage})}"
        >&raquo;</a
      >
    </li>

    <li th:unless="${pagination.nextPage > 0}"><a>&raquo;</a></li>
  </ul>
</body>
</html>
