<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div th:replace="~{fragments/header :: my-header}"></div>
    <h2>JAVA 메일 발송 연습</h2>
    <form id="mailform" method="post" th:action="@{/sendmail}">
      <div>
        <label for="sender-name">발신인: </label>
        <input type="text" name="sender-name" id="sender-name" />
      </div>

      <div>
        <label for="sender-email">발신 이메일: </label>
        <input type="email" name="sender-email" id="sender-email" />
      </div>

      <div>
        <label for="receiver-name">수신인: </label>
        <input type="text" name="receiver-name" id="receiver-name" />
      </div>

      <div>
        <label for="receiver-email">수신 이메일: </label>
        <input type="email" name="receiver-email" id="receiver-email" />
      </div>

      <div>
        <label for="subject">메일제목: </label>
        <input type="text" name="subject" id="subject" />
      </div>

      <hr />
      <textarea name="content" id="content"></textarea>
      <hr />
      <input type="submit" value="메일보내기" />
    </form>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/37.0.1/classic/ckeditor.js"></script>
    <script>
      ClassicEditor.create(document.querySelector("#content"));

      document
        .querySelector("#mailform")
        .addEventListener("submit", async (e) => {
          e.preventDefault();
          const form = e.target;

          const backend = e.currentTarget.getAttribute("action");

          let response = null;

          const formData = new FormData(form);

          try {
            response = await axios.post(backend, formData);
          } catch (error) {
            console.error(`[Error Code] ${error.code}`);
            console.error(`[Error Message] ${error.message}`);
            let alerMsg = error.message;

            if (error.response !== undefined) {
              const errorMsg = `${error.response.status} error - ${error.response.statusText}`;
              console.error(`[HTTP Status] ${errorMsg}`);
              alerMsg += `\n${errorMsg}`;
            }
            alert(alerMsg);

            return;
          }
          alert("메일이 발송되었습니다");
        });
    </script>
  </body>
</html>
