<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:bloc th:replace="~{/_fragments/_head :: my-head('회원가입')}"></th:bloc>
    <link rel="stylesheet" th:href="@{/assets/css/account.css}" />
  </head>
  <body>
    <div class="account-container">
      <h2 class="page-title">회원가입</h2>
      <form id="signup-form">
        <!-- 아이디 -->
        <div class="input-container">
          <input
            type="text"
            name="user_id"
            id="user_id"
            class="input-field"
            placeholder="아이디"
          />
          <button type="button" class="inline-btn" id="id-unique-check">
            중복 검사
          </button>
          <input type="hidden" name="id-check" id="id-check" value="N" />
        </div>

        <!-- 비밀번호 -->
        <div class="input-container">
          <input
            type="password"
            id="user_pw"
            name="user_pw"
            class="input-field"
            placeholder="비밀번호"
          />
        </div>

        <!-- 비밀번호 확인-->
        <div class="input-container">
          <input
            type="password"
            id="user_pw_confirm"
            name="user_pw_confirm"
            class="input-field"
            placeholder="비밀번호 확인"
          />
        </div>

        <!-- 이름 -->
        <div class="input-container">
          <input
            type="text"
            id="user_name"
            name="user_name"
            class="input-field"
            placeholder="이름"
          />
        </div>

        <!-- 이메일 -->
        <div class="input-container">
          <input
            type="email"
            id="email"
            name="email"
            class="input-field"
            placeholder="이메일"
          />
          <button type="button" class="inline-btn" id="email-unique-check">
            중복 검사
          </button>
          <input type="hidden" name="email-check" id="email-check" value="N" />
        </div>

        <!-- 전화번호 -->
        <div class="input-container">
          <input
            type="tel"
            id="phone"
            name="phone"
            class="input-field"
            placeholder="전화번호"
          />
        </div>

        <!-- 생년월일 -->
        <div class="input-container">
          <input
            type="date"
            id="birthday"
            name="birthday"
            class="input-field"
            placeholder="생년월일"
          />
        </div>

        <!-- 성별 (라디오 버튼 형태) -->
        <div class="input-container gender-container">
          <span>성별:</span>/
          <label class="gender-label">
            <input
              type="radio"
              name="gender"
              value="M"
              class="gender-input"
            />
            <span class="gender-custom"></span>남성
          </label>
          <label class="gender-label">
            <input type="radio" name="gender" value="F" class="gender-input" />
            <span class="gender-custom"></span>여성
          </label>
        </div>

        <!-- 우편번호 -->
        <div class="input-container">
          <input
            type="text"
            id="postcode"
            name="postcode"
            class="input-field"
            placeholder="우편번호"
            readonly
          />
          <button type="button" id="find-postcode" class="inline-btn">
            우편번호 찾기
          </button>
        </div>

        <!-- 주소 -->
        <div class="input-container">
          <input
            type="text"
            id="addr1"
            name="addr1"
            class="input-field"
            placeholder="주소"
            readonly
          />
        </div>
        <div class="input-container">
          <input
            type="text"
            id="addr2"
            name="addr2"
            class="input-field"
            placeholder="상세 주소"
          />
        </div>

        <!-- 사진 -->
        <div class="input-container">
          <input type="file" name="photo" id="photo" class="input-field" />
        </div>

        <!-- 회원가입 버튼 -->
        <button type="submit" class="btn">회원가입</button>
      </form>

      <div class="form-footer">
        <p>이미 계정이 있으신가요? <a th:href="@{/account/login}">로그인</a></p>
      </div>
    </div>

    <th:bloc th:replace="~{/_fragments/_scripts :: my-scripts}"></th:bloc>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

    <script>
      document
        .querySelector("#find-postcode")
        .addEventListener("click", (e) => {
          e.preventDefault();
          utilHelper.findPostCode();
        });

      // 아이디 검사
      document
        .querySelector("#id-unique-check")
        .addEventListener("click", async (e) => {
          e.preventDefault();

          try {
            regexHelper.value("#user_id", "아이디를 입력하세요");
          } catch (e) {
            await untilHelper.alertDanger(e.messge);
            return;
          }

          const user_id = document.querySelector("#user_id").value;
          const data = await axiosHelper.get(`/api/account/id_unique_check`, {
            user_id: user_id,
          });

          if (data) {
            await utilHelper.alertSuccess("사용 가능한 아이디 입니다");
            document.querySelector("#id-check").value = "Y";
          }
        });

      // 유효성 검사 통과후 아이디 변경했을때 재 검사
      document.querySelector("#user_id").addEventListener("change", (e) => {
        document.querySelector("#id-check").value = "N";
      });

      // 이메일 검사
      document
        .querySelector("#email-unique-check")
        .addEventListener("click", async (e) => {
          e.preventDefault();
          try {
            regexHelper.value("#email", "이메일을 입력하세요");
          } catch (e) {
            await untilHelper.alertDanger(e.messge);
            return;
          }

          const email = document.querySelector("#email").value;
          const data = await axiosHelper.get(
            `/api/account/email_unique_check`,
            {
              email: email,
            }
          );

          if (data) {
            await utilHelper.alertSuccess("사용 가능한 이메일 입니다");
            document.querySelector("#email-check").value = "Y";
          }
        });

      // 유효성 검사 통과후 이메일 변경했을때 재 검사
      document.querySelector("#email").addEventListener("change", e => {
        document.querySelector("#email-check").value = "N";
      });

      // 아이디, 이메일 중복검사
      document
        .getElementById("signup-form")
        .addEventListener("submit", async (e) => {
          e.preventDefault();

              //** 입력값 유효성 검사 **//

              try {
                // 아이디검사
                regexHelper.value("#user_id", "아이디를 입력하세요");
                regexHelper.maxLength("#user_id", 20, "아이디는 4자 이상 20자 이하로 입력하세요");
                regexHelper.minLength("#user_id", 4, "아이디는 4자 이상 20자 이하로 입력하세요");
                regexHelper.engNum("#user_id", "아이디는 영어와 숫자로만 입력 가능합니다");

                // 비밀번호 검사
                regexHelper.value("#user_pw", "비밀번호를 입력하세요");
                regexHelper.maxLength("#user_pw", 20, "아이디는 4자 이상 20자 이하로 입력하세요");
                regexHelper.minLength("#user_pw", 4, "아이디는 4자 이상 20자 이하로 입력하세요");
                // 비밀번호 확인
                regexHelper.compareTo("#user_pw", "#user_pw_confirm", "비밀번호 확인이 잘못되었습니다");

                // 이름입력 검사
                regexHelper.value("#user_name", "이름을 입력하세요");
                regexHelper.kor("#user_name", "이름은 한글로만 입력할수 있습니다");
                regexHelper.maxLength("#user_name", 20, "아이디는 2자 이상 20자 이하로 입력하세요");
                regexHelper.minLength("#user_name", 2, "아이디는 2자 이상 20자 이하로 입력하세요");

                // 이메일, 전화번호, 생일, 성별 입력 검사
                regexHelper.value("#email", "이메일 주소를 입력하세요");
                regexHelper.email("#email", "이메일 주소가 잘못 되었습니다");

                regexHelper.value("#phone", "전화번호를 입력하세요");
                regexHelper.phone("#phone", "전화번호 주소가 잘못 되었습니다");

                regexHelper.value("#birthday", "생일을 입력하세요");

                regexHelper.check(".gender-input", "성별을 선택하세요");

                // 우편번호 검사
                regexHelper.value("#postcode", "우편번호를 검색하세요");
                regexHelper.maxLength("#postcode", "우편번호는 5자로 입력하세요");
                regexHelper.minLength("#postcode", "우편번호는 5자로 입력하세요");
                regexHelper.num("#postcode", "우편번호는 숫자로만 입력할수 있습니다");

                // 주소 검사
                regexHelper.value("#addr1", "주소를 입력하세요");
                regexHelper.value("#addr2", "상세주소를 입력하세요");

              } catch (e) {
                await utilHelper.alertDanger(e.message);

                setTimeout(() => e.element.focus(), 1);
                return;
              }

          const idCheck = document.querySelector("#id-check").value;
          const emailCheck = document.querySelector("#email-check").value;

          if (idCheck === "N") {
            utilHelper.alertWarning("아이디 중복 검사를 진행해 주세요");
            return;
          }
          if (emailCheck === "N") {
            utilHelper.alertWarning("이메일 중복 검사를 진행해 주세요");
            return;
          }

          const formData = new FormData(e.currentTarget);

          const data = await axiosHelper.postMultipart("[[@{/api/account/join}]]", formData);

          if(data) {
            window.location = "[[@{/account/join_result}]]";
          }
        });
    </script>
  </body>
</html>
