<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:replace="~{/_fragments/_head :: my-head('회원탈퇴')}" />
    <link rel="stylesheet" th:href="@{/assets/css/account.css}" />
  </head>
  <body>
    <div class="account-container">
      <h2 class="page-title">회원탈퇴</h2>
      <p>
        정말로 회원탈퇴를 진행하시겠습니까? 탈퇴를 위해 비밀번호를 입력해주세요.
      </p>

      <form id="delete-account-form">
        <!-- 비밀번호 입력 -->
        <div class="input-container">
          <input
            type="password"
            name="password"
            id="user_pw"
            class="input-field"
            placeholder="비밀번호"
          />
        </div>

        <!-- 회원탈퇴 버튼 -->
        <button type="submit" class="btn">회원탈퇴</button>
      </form>

      <div class="form-footer">
        <p>계정을 유지하고 싶으신가요? <a th:href="@{/account}">돌아가기</a></p>
      </div>
    </div>

    <th:block th:replace="~{/_fragments/_scripts :: my-scripts}" />

    <script>
      document
        .getElementById("delete-account-form")
        .addEventListener("submit", async (e) => {
          e.preventDefault();

          // e.currentTarget; 바로 주면 탈퇴확인까지 가기전에 알수없는 ?
          // 에러가 자꾸 발생해서 current라는 변수에 e.currentTarget; 담아서 보내기!! 왜 에러가 나는거야,,? 아무도 모름~~
          const current = e.currentTarget;

          try {
            regexHelper.value("#user_pw", "비밀번호를 입력하세요");
          } catch (err) {
            await utilHelper.alertDanger(err.message);
            setTimeout(() => err.elememt.focus(), 300);
            return;
          }

          const result = await utilHelper.confirmWarning(
            "탈퇴확인",
            "정말 탈퇴하시겠습니까? 탈퇴후에는 복구할수 없습니다"
          );

          if (result.value) {
            const data = await axiosHelper.delete(
              "[[@{/api/account/out}]]",
              new FormData(current)
            );

            if (data) {
              await utilHelper.alertSuccess("탈퇴가 완료되었습니다");
              window.location = "[[@{/account}]]";
            }
          }
        });
    </script>
  </body>
</html>
