<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 찾기</title>
    <link rel="stylesheet" th:href="@{/assets/css/account.css}">
</head>
<body>

    <div class="account-container">
        <h2 class="page-title">비밀번호 재발급</h2>
        <form id="find-password-form">
            <!-- 아이디 -->
            <div class="input-container">
                <input type="text" name="user_id" id="user_id" class="input-field" placeholder="아이디" />
            </div>

            <!-- 이메일 -->
            <div class="input-container">
                <input type="email" name="email" id="email" class="input-field" placeholder="이메일" />
            </div>

            <!-- 비밀번호 찾기 버튼 -->
            <button type="submit" class="btn">비밀번호 찾기</button>
        </form>

        <div class="form-footer">
            <p>로그인이 필요하신가요? <a th:href="@{/account/login}">로그인</a></p>
            <p>계정이 없으신가요? <a th:href="@{/account/join}">회원가입</a></p>
        </div>
    </div>

    <th:bloc th:replace="~{/_fragments/_scripts :: my-scripts}"></th:bloc>


    <script>
        document.getElementById('find-password-form').addEventListener('submit', async(e)=> {
            e.preventDefault();


      /** 입력값 유효성 검사 */

      try {
            regexHelper.value("#user_id", "아이디를 입력하세요");
            regexHelper.value("#email", "이메일 주소를 입력하세요");
          } catch (err) {
            await utilHelper.alertDanger(err.message);
            setTimeout(() => err.element.focus(), 1);
            return false;
          }

          const data = await axiosHelper.put(
            "[[@{/api/account/reset_pw}]]",
            new FormData(e.currentTarget)
          );

          if (data) {
            const email = document.querySelector("#email").value;
            await utilHelper.alertSuccess(`변경된 비밀번호를 ${email}로 보내드렸습니다. 메일함을 확인해 주세요`);
            window.location = "[[@{/account/login}]]";
           
          }
        });
    </script>

</body>
</html>
