<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header th:fragment="my-header">
      <link rel="stylesheet" th:href=@{/assets/css/header.css}>
      
      <h1>11-fileupload</h1>
      <nav class="gnb">
        <a th:href="@{/simple/upload_single}">단일 업로드</a>
        <a th:href="@{/use_helper/upload}">헬퍼업로드</a>
        <a th:href="@{/multi/upload}">다중 업로드</a>
        <a th:href="@{/ajax/upload}">Ajax 파일 업로드</a>
      </nav>
      
    </header>
  </body>
</html>
