<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      #preview {
        display: flex;

        img {
          width: 100px;
          height: 100px;
          margin: 10px;
          border: 1px solid #ddd;
        }
      }
    </style>
  </head>
  <body>
    <div th:replace="~{/fragments/header :: my-header}"></div>

    <h2>Ajax 다중 업로드</h2>

    <form
      id="upload-form"
      method="post"
      th:action="@{/ajax/upload_multi_ok}"
      enctype="multipart/form-data"
    >
      <div class="file-wrapper">
        <label for="profile-photo">파일 선택</label>
        <input
          type="file"
          name="profile-photo"
          id="profile-photo"
          multiple accept="image/*"
        />
      </div>

      <button type="submit">업로드하기</button>
    </form>

    <hr />
    <div id="preview"></div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script th:src="@{/assets/js/axios-helper.js}"></script>

    <script>
      document
        .querySelector("#upload-form")
        .addEventListener("submit", async (e) => {
          e.preventDefault();

          const formData = new FormData(e.currentTarget);
          const data = await axiosHelper.postMultipart(
            e.currentTarget.action,
            formData
          );

          data?.item.forEach((v, i) => {
            const img = document.createElement("img");
            img.src = v.thumbnailUrl;
            document.querySelector("#preview").appendChild(img);
          });
        });
    </script>
  </body>
</html>
